@import './base.scss';

.panes {
  display: flex;
  height: 100%;
  background-color: #fafafa;

  .pane {
    width: 50%;
    height: 100%;
    padding: 20px;
  }

  @media screen and (max-width: 800px) {
    flex-direction: column;

    .pane {
      width: 100%;
    }
  }
}

.pigForm {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  > * {
    margin-top: 5px;
    width: 100%;

    > * {
      width: 100%;
    }
  }

  #generate {
    display: inline-block;
    margin-top: 1em;
    width: unset;
  }
}

#imagesPane {
  .pigEpisodeCard {
    padding: 20px;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin: 20px 0;

    .pigImage {
      width: 100%;
    }
  }
}
