@import './base.scss';

.linkForm {
  padding: 15px 20px;

  & > mwc-textfield {
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

.linksWrapper {
  padding: 20px;
}

.mdc-data-table {
  margin: 1em 0;
  display: flex;
  justify-content: center;
}
