@import './base.scss';

.linkForm {
  padding: 15px 20px;
}

.linksWrapper {
  padding: 20px;
}

.mdc-data-table {
  margin: 1em 0;
  display: flex;
  justify-content: center;
}

.inputs {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  & > * {
    margin-right: 10px;
  }
}
