html(lang="en")
  head
    title #{title} | require podcast render server
    link(rel="shortcut icon" href="/static/assets/RequireLogo.png")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
  body
    block content

    block scripts