extends templates/layout.pug

block scripts
  script(src="static/js/index.bundle.js" defer)
  script(src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js")

block styles
  link(href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet")
  link(rel="stylesheet", href="static/css/index.bundle.css")

block content
  mwc-drawer(type="modal" hasHeader)
    div(slot="title") Main menu
    div(slot="subtitle") require podcast render server
    div
      mwc-list
        mwc-list-item(graphic="avatar" id="restartButton")
          span Restart server
          mwc-icon(slot="graphic") refresh
    div(slot="appContent")
      mwc-top-app-bar(centerTitle style="--mdc-theme-primary: rgb(29, 31, 45)")
        mwc-icon-button(icon="menu" slot="navigationIcon" id="navigationButton")
        div(slot="title") render-server
        mwc-icon-button(icon="logout" slot="actionItems" id="logoutButton")
        .wrapper
          .topBlock
            img(src="static/assets/RequireLogo.png")
            div
              h1 requirepodcast render-server
              h4 main dashboard
          .cards
            .card
              include includes/files.pug
            .card
              include includes/render.pug
            .card
            .card