extends templates/layout.pug

block scripts
  script(src="static/js/index.bundle.js" defer)
  script(src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js")

block styles
  link(href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet")
  link(href="static/css/index.bundle.css" rel="stylesheet")

block content
  .wrapper
    .welcome
      | hello, <b>#{user.name}</b>! ready for a new podcast episode?