extends templates/layout.pug

block styles
  link(rel="stylesheet", href="/static/css/login.bundle.css")

block scripts
  script(src="/static/js/login.bundle.js" defer)

block content
  div.wrapper
    h1 require podcast studio

    mwc-button(icon="code" raised style="--mdc-theme-primary: #24292e" id="loginButton") Login using GitHub