extends components/layout.pug

block scripts
  script(src="static/login.bundle.js")

block content
  div.wrapper
    h1 require podcast render server

    mwc-button(icon="code" raised style="--mdc-theme-primary: #24292e" id="loginButton") Login using GitHub