doctype html
html(lang="en")
  head
    title #{title} | require podcast studio
    link(rel="shortcut icon" href="/static/assets/RequireLogo.png")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/static/css/login.bundle.css")
    script(src="/static/js/login.bundle.js" defer)
  body
    div.wrapper
      h1 require podcast studio

      mwc-button(icon="code" raised style="--mdc-theme-primary: #24292e" id="loginButton") Login using GitHub