extends templates/layout.pug

block scripts
  script(src="/static/js/pig.bundle.js" defer)
  script(src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js")

block styles
  link(href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet")
  link(href="/static/css/pig.bundle.css" rel="stylesheet")

block content
  .wrapper
    .topBlock
      img(src="static/assets/RequireLogo.png")
      div
        h1 require podcast studio
        h4 promotional images generator
    .panes
      .pane
        h2 PIG (Promotional Images Generator)
        form.pigForm
          div
            mwc-textfield(label="Episode title")#title
          div
            mwc-textarea(label="Episode description")#description
          mwc-button(label="oink" raised dense icon="send")#generate
      .pane#imagesPane
        h2 Generated images
        .images